@model IEnumerable<Product>
@foreach (Product product in @Model)
{
    <div>
        <h3>@product.Name</h3>
        <p>@product.Description</p>
        <h4>@product.Price.ToString("c")</h4>
    </div> 
}